:root {
  --primary-color: #FF6456;
  --secondary-color: #F6F6F6;
  --max-width: 1100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Ultility */
.container {
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}

ul {
  list-style: none;
}

.tieuDe {
  font-family: 'Acme', sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
  font-stretch: semi-expanded;
  text-align: center;
}

.current {
  color: #FF6456;
}

.btn {
  display: inline-block;
  border: #FF6456 2px solid;
  padding: 9px 20px;
  background: #FF6456;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #FF6456;
  transition: background .5s ease-in-out;
}

/* Navagation */
.logo {
  font-family: 'Caveat Brush', cursive;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 2.8rem;
}

#main-nav .container {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav ul {
  display: flex;
  justify-content: space-evenly;
}

#main-nav ul li {
  padding: 20px;
}

#main-nav ul li a { 
  font-size: 17px;
}

#main-nav ul li a:hover {
  color: #FF6456;
  transition: color .4s ease-in-out;
}

/* Showcase */
#showcase {
  padding: 50px 30px;
  background: var(--secondary-color);
  height: 300px;
}
#showcase .showcase-content {
  display: flex;
}

#showcase .showcase-content .left,
#showcase .showcase-content .right {
  flex: 1;
}

#showcase .showcase-content .right {
  height: 100%;
}

#showcase .showcase-content .right img {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  animation: img11 2s forwards ease-in-out;
  transform: translate3d(-500px,-500px,-500px);
  opacity: 0.4;
}

@keyframes img11 {
  to {
    transform: translateX(0);
    opacity: 0.9;
  }
}

#showcase .showcase-content .left h1,
#showcase .showcase-content .left p {
  font-weight: bold;
  color: #222222;
}

#showcase .showcase-content .left p {
  font-size: 1.2rem;
}


/* About */
#about {
  height: auto;
  padding: 200px 100px 20px 100px;
  width: 100%;
}

#about h1 {
  color: #222222;
  text-align: center;
}

#about .about-content {
  display: flex;
  justify-content: space-around;
  height: 350px;
  padding: 10px;
}
#about .img,
#about .content {
  flex: 1;
}

#about .img {
  padding: 10px;
  background: url('../img/sach.jpg') no-repeat center center/cover;
  border-radius: 5px;
}

#about .about-content .content {
  padding-left: 50px;
  font-style: italic;
  font-size: 15px;
}

#countdown {
  opacity: 0.9;
  height: auto;
  text-align: center;
  padding: 20px 0;
}

#countdown p {
  font-family: 'Acme', sans-serif;
  font-size: 5rem;
  color: #FF6456;
}

/* introduce */
#introduce {
  margin: 20px 0;
  height: auto;
  width: 100%;
}

#introduce .introduce-content {
  display: flex;
  justify-content: space-around;
  height: 400px;
  padding: 10px;
}
#introduce .img,
#introduce .content {
  flex: 1;
}

#introduce .img {
  padding: 10px;
  background: url('../img/mat.jpg') no-repeat bottom center/cover;
  border-radius: 5px;
}

#introduce .introduce-content .content {
  display: flex;
  align-items: center;
  font-style: italic;
}

/* Show_img */
#show {
  height: auto;
  padding: 20px;
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem;
  height: auto;
  align-items: center;
}

#show .container .grid img:nth-child(2) {
  height: 263px;
}

#show .container .grid img {
  width: 100%;
}

#show .container .btn {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 20px 0;
  margin-top: 3rem;
}

#faqs {
  height: auto;
  padding: 20px;
}

#people_saying {
  height: auto;
  padding: 20px;
  width: 100%;
}

#last_chance {
 text-align: center;
 margin-top: 3rem;
}

/* Social */
.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 20px;
}

.social a {
  color: #222222;
  font-size: 25px;
  transition: color 0.3s ease-in-out;
  margin-right: 10px;
}

.social a:nth-child(1):hover {
  color: chocolate;
}
.social a:nth-child(2):hover {
  color: rgb(163, 12, 12);
}
.social a:nth-child(3):hover {
  color: blue;
}

/* Apply */
#contact form .form-group label {
  display: block;
  font-weight: bold;
  font-stretch: semi-condensed;
  margin-bottom: 5px;
  color: #222222;
}

#contact form .form-group input {
  width: 100%;
  padding: 10px;
  outline: none;
}

#contact form .form-group input:focus {
  border: 1px #FF6456 solid;
}

#contact form .form-group textarea {
  width: 100%;
  height: 6rem;
  padding: 5px;
  outline: none;
}

#contact form .form-group textarea:focus {
  border: 1px #FF6456 solid;
}

#contact form .form-group {
  margin-bottom: 10px;
}

#contact .container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1rem;
  padding: 20px;
  height: auto;
  width: 100%;
}

#contact .cat {
  background: url('../img/cat3.png') no-repeat center center/cover;
  width: 100%;
  height: 480px;
}

#contact h2 {
  font-weight: 200;
  font-style: italic;
  margin-bottom: 10px;
}

#contact .btn {
  background: #ec8d76;
}

#contact .btn:hover {
  background: #f2b3a3;
  color: #333;
}







